<%- include('header.ejs') -%>
<div class="container">
  <div class="row min-vh-100 d-flex">
    <div class="col-md-6 h2 text-center m-auto text-uppercase">
      404<br />
      page not found
    </div>
  </div>
</div>
<%- include('footer.ejs') -%>
